<h3>ABOUT THIS SERVICE</h3>

<ol>
    <li>Registrera den kod som du har på ditt ambassadörskort genom att klicka på “registrera ny kod”</li>
    <li>Berätta för dina vänner hur nöjd du är med det du köpt och be dem ange din nykundskod när de beställer</li>
    <li>När en ny kund anger din nykundskod sätts din rabatt in på ditt konto och du får ett e-mail av oss</li>
    <li>När du vill plocka ut dina pengar klickar du på ”Få betalt” och anger hur du vill få betalt. Banköverföring och Paypal går bra</li>
</ol>

<h4>Other</h4>
<p>Eftersom Skatteverket betraktar det som du utför ett arbete när du rekommenderar ett företag till andra är vi skyldiga att skicka kontrolluppgifter till skatteverket. Den ersättning som du får från Rekomendo kommer således att vara en del av din beskattningsbara inkomst.</p>

<!--<h3>REGISTERED CODES</h3>-->

<!--<h3>SHARE IT</h3>-->
<!--<p>Tala om för dina vänner att du gillar det du köpt. Glöm inte att ge dina vänner din nykundskod.</p>-->