<h2>HOW IT WORKS</h2>

<h3>LAUNCH A CAMPAIGN</h3>
<p>
    För att starta en kampanj anger du kontaktinformation till företaget, hur mycket rabatt dina ambassadörer ska få samt om du vill ha någon form av rabatt till nya kunder
</p>
<p>
    Vi skapar ett paket unikt paket till varje ambassadör. Paketet består av visitkort som ambassadören kan dela med sina vänner samt ett digitalt visitkort som ambassadören kan sprida i sociala medier
</p>

<h3>SPREAD YOUR RUMOUR</h3>
<p>När ni har gett en ambassadör ett paket kan denna starta att sprida ordet på olika sätt.</p>

<p>Exempel:</p>
<ul>
    <li>Dela ut visitkort till vänner</li>
    <li>Dela på facebook ”Supernöjd. Rekommenderar detta till alla mina vänner. www.företaget.se. Ange koden 28967 så vet de att det är jag som har rekommenderat”</li>
    <li>Dela på instagram ”Se så bra det blev! Verkligen bra jobbat företaget! Ange koden 28967 så vet de att det är jag som rekommenderat”</li>
</ul>

<h3>CONFIRM A NEW CUSTOMER</h3>

<p>När en ny kund anger en ambassadörskod loggar du in här och väljer ”bekräfta ny kund”. Ange nykundskoden och bekräfta den nya kunden. Vi meddelar ambassadören och sköter utbetalningen av provisionen</p>

<h3>PAYMENT</h3>

<p>Vi fakturerar er för utbetalt provision till ambassadören plus 15% i administrationsavgift.</p>

<!--<p>När en ny kund är bekräftad kan ambassadören hämta sina pengar genom att logga in på sitt konto. Banköverföring, Paypal och Swish går bra. BE</p>-->

<!--<p>Exempel</p>-->

<!--<table class="table table-bordered table-striped dataTable" role="grid">-->
<!--<tbody>-->
<!--<tr role="row" class="odd">-->
<!--<td class="info-name">Rabatt:</td>-->
<!--<td class="info-value">500</td>-->
<!--</tr>-->
<!--<tr role="row" class="odd">-->
<!--<td class="info-name">Provision 30%:</td>-->
<!--<td class="info-value">150</td>-->
<!--</tr>-->
<!--<tr role="row" class="odd">-->
<!--<td class="info-name">Moms</td>-->
<!--<td class="info-value">37,5</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->