<div class="box box-primary">
    <div class="box-header" style="cursor: move;">
        <i class="fa fa-edit"></i>
        <h3 class="box-title">CONFIRM NEW CUSTOMER</h3>
    </div><!-- /.box-header -->
    <div class="box-body responsive col-xs-12">
        <h3>BEKRÄFTA EN NY KUND</h3>

        <ul>
            <li>Ange den nykundskod som kunden har</li>
            <li>Se över information om kampanjen (Hur mycket provision som utgår till ambassadören samt om det utlovats
                något nykundserbjudande)
            </li>
            <li>När du har bekräftat en ny kund ser vi till att ambassadören får sin provision</li>
        </ul>

        <h3>ÖVRIGT</h3>

        <p>
            Det finns ingen möjlighet att ta tillbaka en nykundsregistrering. Var därför noga med att registrera en ny
            kund
            först när affären är klar.
        </p>
    </div>
    <div class="box-footer">
    </div><!-- /.box-footer -->
</div>
